{% extends 'base.jinja' %}

{% block header %}

{% endblock %}

{% block content %}

<div class="error-dialog">
  <h4>
  Palvelinvirhe 5XX
  </h4>
  <code>
  Jos virhe toistuu ota yhteyttä järjestelmänvalvojaan
  </code>
  <a href="javascript:window.history.back();">Palaa</a>
</div>




{% endblock %}