{% extends 'base.jinja' %}

{% block header %}
<h1>{% block title %}Kurssit{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="frame">

    <p>Saatavilla olevat kurssit</p>

    <table class="course-table">
        <tr>
            <th>Koodi</th>
            <th>Nimi</th>
            <th>Tyyppi</th>
            <th>Toiminnot</th>
        </tr>
        {% for course in courses %}

        <tr>
            <td><a href="#">{{course.codename}}</a></td>
            <td>{{course.title}}</td>
            <td>
                {{course.mode_text}}
            </td>
            <td>
                <a href="{{url_for('course_page', course=course.id)}}">Kurssisivu</a>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}