<!DOCTYPE html>
<head>

</head>

<body>
<!--
TODO
-->

{% if session.id %}
{{session.id}}
{{session.username}}
{% endif %}


    <form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
</body>