{% extends 'base.jinja' %}

<h1>{% block title %}{{course.title}}{% endblock %}</h1>

{% block content %}
<div class="course-material ">
    <div class="new-material-dialog">
    <p>Uuden materiaalin nimi:</p>
        <form action="" method="POST">
            <input type="text" name="name">
            <select name="type">
            <option value="material">Aineisto</option>
            <option value="exercise">Tehtävä</option>
            </select>
            <input type="submit" value="Luo!">
        </form>
    </div>

</div>

{% endblock %}